* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.sidenav {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin-right: 20px;
    float: left;
    text-align: start;
    background-color: #383535;

    button {
        padding-right: 350px;
        background-color: #383535;
        border-style: none;
        display: block;
        max-width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    button:hover {
        background-color: aliceblue;

        a:hover {
            color: #383535;
        }
    }

    a {
        text-decoration: none;
        font-size: 2rem;
        color: white;
        padding-right: 350px;
        margin-left: 15px;
    }
}

table {
    margin-bottom: 20px;
    width: 65%;

    thead th {
      padding: 0px 20px 5px 0px; /* Adjust values for more/less space */
    }

    tr {
        text-align: left;

        th {
            font-size: 25px;
        }

        td {
            font-size: 20px;
        }
    }
}

#overzichtTable {
    margin-top: 20px;
}

.button {
    background-color: #383535;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.buttonInput {
    background-color: #383535;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    
}

.buttonSmall {
    background-color: #383535;
    color: white;
    padding: 1px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.buttonKlantZoeken {
    background-color: #383535;
    color: white;
    padding: 9px 20px 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.inputStyling {
    width: 450px;
    height: 36px;
    margin-top: 20px;
    font-size: 20px;
}