* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.sidenav {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin-right: 20px;
    float: left;
    text-align: start;
    background-color: #383535;
    h1{
        color: white;
        padding: 10px;
    }

    a {
        padding: 20px 8px 20px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #cbcbcb;
        display: block;
    }

    a:hover {
        color: #f1f1f1;
    }
}

table {
    margin-bottom: 20px;
    width: 55%;
    tr {
        text-align: left;
    }
}


.button {
    background-color: #383535;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.buttonInput {
    background-color: #383535;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.buttonSmall {
    background-color: #383535;
    color: white;
    padding: 1px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}